@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Font name/family:
$font-name-lexend: 'Lexend';
$font-family-sans-serif: sans-serif;

// Font sizes:
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-rg: 15px;
$font-size-md: 18px;
$font-size-lg: 19px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxxl: 60px;

// Font weight:
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

//Line height:
$line-height-base: 150%;
$line-height-h1: 110%;
$line-height-h2: 120%;
