body {
  margin: 0px;
  font-family: $font-name-lexend, $font-family-sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style: none;
}

input {
  font-family: $font-name-lexend, $font-family-sans-serif;
  margin: 0px;
  outline: none;
}

button {
  font-family: $font-name-lexend, $font-family-sans-serif;
  cursor: pointer;
}

hr {
  margin: 0px;
  border-right: none;
  border-left: none;
  border-bottom: none;
}