// Base & Abstracts
@import '../abstracts/_global';
@import '../base/_global';

@media (min-width: $layout-breakpoint-xs) {

}

@media (min-width: $layout-breakpoint-rg) {

}

@media (min-width: $layout-breakpoint-md) {
  .loginpage {
    @include flex-center;
    width: 100vw;
    height: 100vh;
    background: $grey-lightest;

    .login-container {
      @include flex-column-center-x;
      padding: 20px;
      width: 350px;
      background: $white;
      border: 1px solid $border-grey;
      border-radius: 5px;

      .login-image {
        img {
          width: 200px;
        }
      }

      .login-inputs {
        @include flex-column;
        gap: 20px;
        margin-top: 30px;
        width: 100%;
      }

      .login-button {

        button {
          @include font-size($font-size-rg, $font-weight-medium, $text-white);
          padding: 6px 0px;
          margin-top: 30px;
          background: $green;
          width: 120px;
          border: none;
          border-radius: 5px;
          transition: all 0.1s;

          &:hover {
            background: $btn-green-hover;
          }
        }
      }
    }
  }
}