// Colors:
$dark: #1A1E26;
$dark-black: #01100B;
$green: #17AF26;
$green-light: #5fc700;
$green-lightest: #9BDDA2;
$green-dark: #05422C;
$grey: #717378;
$grey-green: #C3D2CC;
$grey-med: #F2F6F4;
$grey-semilight: #EEEEEE;
$grey-light: #F4F4F4;
$grey-lightest: #F8F8F8;
$yellow: #F2BC1B;
$red: #EB2606;
$white: #FFFFFF;

//UI colors:
$navbar-dark: #1A1E26;
$btn-green: #17AF26;
$btn-green-hover: #009245;
$btn-grey: #F3FBF4;
$btn-grey-light: #F4F4F4;
$btn-disabled-grey: #C8C9CB;
$btn-hover-grey: #EEEEEE;
$section-grey: #F2F6F4;
$product-image-bg-grey: #F2F6F4;
$review-star-yellow: #F2BC1B;
$review-star-unfilled-grey: #F4F4F4;
$border-grey: #D6D6D6;
$border-grey-light: #F4F4F4;
$border-grey-semilight: #D2D6DC;
$border-grey-med: #C8C9CB;
$border-grey-dark: #9D9EA2;
$border-green: #17AF26;
$border-green-dark: #05422C;
$hr-grey: #F4F4F4;
$hr-grey-light: #F4F4F4;
$hr-grey-dark: #C8C9CB;

//Text colors:
$text-dark: #1A1E26;
$text-dark-black: #060709;
$text-white: #FFFFFF;
$text-grey: #717378;
$text-grey-dark: #46494F;
$text-grey-light: #9D9EA2;
$text-grey-lightest: #C8C9CB;
$text-green: #17AF26;
$text-green-light: #5fc700;
$text-green-dark: #05422C;
$text-yellow: #F2BC1B;
$text-red: #EB2606


