@media (min-width: $layout-breakpoint-xs) {
  .accountmenu {
    width: 100%; 
  
    .menu {
  
      .menu-item {
        @include flex-center-y;
        @include font-size($font-size-sm, $font-weight-regular, $text-dark);
        justify-content: space-between;
        height: 40px;
        border-bottom: 1px solid $border-grey-light;
        cursor: pointer;
        transition: color 0.2s;
  
        &:hover {
          transition: color 0.2s;
          @include font-size($font-size-sm, $font-weight-regular, $text-dark);
        }
      }
  
      .menu-item-active {
        @include flex-center-y;
        @include font-size($font-size-sm, $font-weight-semibold, $text-dark);
        justify-content: space-between;
        height: 40px;
        border-bottom: 1px solid $border-grey-light;
        cursor: pointer;
      }
  
      .menu-item-logout {
        transition: all 0.2s;
  
        &:hover {
          @include font-size($font-size-sm, $font-weight-regular, $text-red);
        }
      }
      .item-active-logout {
        @include font-size($font-size-sm, $font-weight-medium, $text-red);
      }
    }
  }
}

@media (min-width: $layout-breakpoint-md) {
  .accountmenu {
    width: 220px; 
  
    .menu {
  
      .menu-item {
        @include flex-center-y;
        @include font-size(16px, $font-weight-regular, $text-grey-light);
        justify-content: space-between;
        height: 50px;
        border-bottom: 1px solid $border-grey-light;
        cursor: pointer;
        transition: color 0.2s;
  
        &:hover {
          transition: color 0.2s;
          @include font-size(16px, $font-weight-regular, $text-dark);
        }
      }
  
      .menu-item-active {
        @include flex-center-y;
        @include font-size(16px, $font-weight-semibold, $text-dark);
        justify-content: space-between;
        height: 50px;
        border-bottom: 1px solid $border-grey-light;
        cursor: pointer;
      }
  
      .menu-item-logout {
        transition: all 0.2s;
  
        &:hover {
          @include font-size(16px, $font-weight-regular, $text-red);
        }
      }
      .item-active-logout {
        @include font-size(16px, $font-weight-medium, $text-red);
      }
    }
  }
}