@media (min-width: $layout-breakpoint-xs) {
  .accountform {

    h3 {
      @include font-size(20px, $font-weight-semibold, $text-dark-black);
    }
  
    .accountform-name {
      @include flex-column;
      gap: 16px;
      margin-top: 16px;
    }
  
    .accountform-email {
      margin-top: 16px;
    }
  
    .error-message {
      @include font-size($font-size-sm, $font-weight-regular, $text-red);
      margin-top: 15px;
    }
  
    .submit-btn {
      @include flex-center;
      @include font-size($font-size-sm, $font-weight-semibold, $text-white);
      margin-top: 7px;
      border: none;
      border-radius: 3px;
      background: #3bb54a;
      width: 130px;
      height: 37px;
      transition: all 0.2s;
  
      &:hover {
        background: #009245;
      }
    }
  }
}

@media (min-width: $layout-breakpoint-rg) {
  .accountform {

    h3 {
      @include font-size($font-size-xl, $font-weight-semibold, $text-dark-black);
    }
  
    .accountform-name {
      display: flex;
      flex-direction: row;
      gap: 35px;
      margin-top: 20px;
    }
  
    .accountform-email {
      margin-top: 20px;
    }
  
    .error-message {
      @include font-size($font-size-sm, $font-weight-regular, $text-red);
      margin-top: 15px;
    }
  
    .submit-btn {
      @include flex-center;
      @include font-size($font-size-rg, $font-weight-semibold, $text-white);
      margin-top: 10px;
      border: none;
      border-radius: 3px;
      background: #3bb54a;
      width: 144px;
      height: 40px;
      transition: all 0.2s;
  
      &:hover {
        background: #009245;
      }
    }
  }
}