.authforminputpassword {
  @include flex-column;
  gap: 2px;
  width: 100%;

  label {
    @include font-size($font-size-sm, $font-weight-medium, $text-dark-black);
    letter-spacing: 1px;
  }
  .input-container {
    @include flex-center-y;
    position: relative;
    width: 100%;

    .authform-input {
      @include font-size($font-size-sm, $font-weight-regular, $text-dark-black);
      box-sizing: border-box;
      width: 100%;
      height: 45px;
      padding: 0px 16px;
      border: 1px solid $border-grey-semilight;
      border-radius: 8px;
      transition: all 0.2s;
  
      &::placeholder {
        @include font-size($font-size-sm, $font-weight-regular, $text-grey);
        line-height: 0px;
      }
  
      &:focus {
        border: 1px solid $border-grey-med;
      }
    }

    .toggle-btn {
      @include flex-center;
      position: absolute;
      right: 15px;
      padding: 0px;
      background: none;
      border: none;
    }
  }
}

@media (min-width: $layout-breakpoint-xs) {
  .authforminputpassword {
    @include flex-column;
    gap: 2px;
    width: 100%;
  
    label {
      @include font-size($font-size-sm, $font-weight-medium, $text-dark-black);
      letter-spacing: 1px;
    }
    .input-container {
      @include flex-center-y;
      position: relative;
      width: 100%;
  
      .authform-input {
        @include font-size($font-size-sm, $font-weight-regular, $text-dark-black);
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        padding: 0px 16px;
        border: 1px solid $border-grey-semilight;
        border-radius: 8px;
        transition: all 0.2s;
    
        &::placeholder {
          @include font-size($font-size-sm, $font-weight-regular, $text-grey);
          line-height: 0px;
        }
    
        &:focus {
          border: 1px solid $border-grey-med;
        }
      }
  
      .toggle-btn {
        @include flex-center;
        position: absolute;
        right: 15px;
        padding: 0px;
        background: none;
        border: none;
      }
    }
  }
}

@media (min-width: $layout-breakpoint-rg) {
  .authforminputpassword {
    @include flex-column;
    gap: 2px;
    width: 100%;
  
    label {
      @include font-size($font-size-sm, $font-weight-medium, $text-dark-black);
      letter-spacing: 1px;
    }
    .input-container {
      @include flex-center-y;
      position: relative;
      width: 100%;
  
      .authform-input {
        @include font-size($font-size-sm, $font-weight-regular, $text-dark-black);
        box-sizing: border-box;
        width: 100%;
        height: 45px;
        padding: 0px 16px;
        border: 1px solid $border-grey-semilight;
        border-radius: 8px;
        transition: all 0.2s;
    
        &::placeholder {
          @include font-size($font-size-sm, $font-weight-regular, $text-grey);
          line-height: 0px;
        }
    
        &:focus {
          border: 1px solid $border-grey-med;
        }
      }
  
      .toggle-btn {
        @include flex-center;
        position: absolute;
        right: 15px;
        padding: 0px;
        background: none;
        border: none;
      }
    }
  }
}