.completeorder {
  
  .completeorder-header {
    @include flex-center-y;
    justify-content: space-between;
    padding-bottom: 22px;
    border-bottom: 1px solid $border-grey-med;

    .maintext {
      @include font-size($font-size-lg, $font-weight-regular, $text-dark-black);
    }

    .completeorder-text-paid {
      @include flex-center-y;
      @include font-size($font-size-md, $font-weight-regular, $text-green);

      span {
        margin-left: 6px;
      }
    }
  }
}

@media (min-width: $layout-breakpoint-xs) {
  .completeorder {
  
    .completeorder-header {
      @include flex-center-y;
      justify-content: space-between;
      padding-bottom: 16px;
      border-bottom: 1px solid $border-grey-med;
  
      .maintext {
        @include font-size($font-size-lg, $font-weight-regular, $text-dark-black);
      }
  
      .completeorder-text-paid {
        @include flex-center-y;
        @include font-size($font-size-md, $font-weight-regular, $text-green);
  
        span {
          margin-left: 6px;
        }
      }
    }
  }
}

@media (min-width: $layout-breakpoint-rg) {
  .completeorder {
  
    .completeorder-header {
      @include flex-center-y;
      justify-content: space-between;
      padding-bottom: 22px;
      border-bottom: 1px solid $border-grey-med;
  
      .maintext {
        @include font-size($font-size-lg, $font-weight-regular, $text-dark-black);
      }
  
      .completeorder-text-paid {
        @include flex-center-y;
        @include font-size($font-size-md, $font-weight-regular, $text-green);
  
        span {
          margin-left: 6px;
        }
      }
    }
  }
}