.logintoggle {
  @include flex-center;
  justify-content: flex-end;
  height: 100%;

  .login-btn {
    @include font-size($font-size-rg, $font-weight-regular, $text-dark);
    padding: 8px 16px;
    background: none;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      color: $text-green;
      background: $grey-light;
    }
  }

  .signup-btn {
    @include font-size($font-size-rg, $font-weight-regular, $text-white);
    margin-left: 8px;
    padding: 8px 16px;
    background: $btn-green;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      color: $white;
      background: $btn-green-hover;
    }
  }
}

@media (min-width: $layout-breakpoint-xs) {
  .logintoggle {
    @include flex-center;
    justify-content: flex-end;
    height: 100%;
    // width: 180px;
    margin-right: 5px;
  
    .login-btn {
      @include font-size($font-size-xs, $font-weight-regular, $text-dark);
      padding: 3px 6px;
      background: $grey-light;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      transition: all 0.2s;
  
      &:hover {
        color: $text-green;
        background: $grey-light;
      }
    }
  
    .signup-btn {
      @include font-size($font-size-xs, $font-weight-regular, $text-white);
      margin-left: 6px;
      padding: 3px 6px;
      background: $btn-green;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      transition: all 0.2s;
  
      &:hover {
        color: $white;
        background: $btn-green-hover;
      }
    }
  }
}

@media (min-width: $layout-breakpoint-rg) {
  .logintoggle {
    @include flex-center;
    justify-content: flex-end;
    height: 100%;
    // width: 180px;
    margin-right: 10px;
  
    .login-btn {
      @include font-size($font-size-rg, $font-weight-regular, $text-dark);
      padding: 8px 16px;
      background: $grey-light;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      transition: all 0.2s;
  
      &:hover {
        color: $text-green;
        background: $grey-light;
      }
    }
  
    .signup-btn {
      @include font-size($font-size-rg, $font-weight-regular, $text-white);
      margin-left: 6px;
      padding: 8px 16px;
      background: $btn-green;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      transition: all 0.2s;
  
      &:hover {
        color: $white;
        background: $btn-green-hover;
      }
    }
  }
}

