.myaccountinput {
    @include flex-column;
    gap: 4px;
    width: 100%;
  
    label {
      @include font-size($font-size-sm, $font-weight-semibold, $text-dark-black);
    }
  
    .myaccount-input {
      @include font-size($font-size-sm, $font-weight-regular, $text-dark-black);
      box-sizing: border-box;
      height: 40px;
      padding: 0px 10px;
      border: 1px solid $border-grey-semilight;
      border-radius: 5px;
      transition: all 0.2s;
  
      &::placeholder {
        @include font-size($font-size-sm, $font-weight-regular, $text-grey);
        line-height: 0px;
      }
  
      &:focus {
        border: 1px solid $border-grey-med;
      }
    }
  }