@media (min-width: $layout-breakpoint-xs) {
  .opencartmodal-wrapper {
    box-sizing: border-box;
  }
  
  .opencartmodal {
    @include flex-center-y;
    height: 100%;
    background: none;
    border: none;
    padding: 0px 17px 0px 0px;
  
    &:hover .cartitemcount{
      transform: translateY(-5px);
      transition: 0.2s;
    }
  
    &:hover .cart-subtotal {
      color: $text-green-light;
    }
  
    .cart-subtotal {
      display: none;
    }
  
    .cart-img-container {
      @include flex-center;
      position: relative;
      margin-left: 0px;
      padding: 0px;
  
      img {
        width: 22px;
        height: 22px;
      }
  
      .cartitemcount {
        @include flex-center;
        @include font-size(10px, $font-weight-regular, $text-white);
        line-height: 0px;
        position: absolute;
        top: 10px;
        right: -8px;
        width: 14px;
        height: 14px;
        background: $grey;
        border-radius: 100px;
        transition: 0.2s;
      }
    }
  }
}

@media (min-width: $layout-breakpoint-rg) {
  .opencartmodal-wrapper {
    box-sizing: border-box;
    // width: 140px;
  }
  
  .opencartmodal {
    @include flex-center-y;
    float: right;
    height: 100%;
    background: none;
    border: none;
    padding: 5px;
  
    &:hover .cartitemcount{
      transform: translateY(-5px);
      transition: 0.2s;
    }
  
    &:hover .cart-subtotal {
      color: $text-green-light;
    }
  
    .cart-subtotal {
      display: none;
    }
  
    .cart-img-container {
      @include flex-center;
      margin-left: 0px;
      padding: 10px 0px;
  
      img {
        width: 30px;
        height: 30px;
      }
  
      .cartitemcount {
        @include flex-center;
        @include font-size(10px, $font-weight-regular, $text-white);
        line-height: 0px;
        position: relative;
        top: 6px;
        right: 9px;
        width: 18px;
        height: 18px;
        background: $grey;
        border-radius: 100px;
        transition: 0.2s;
      }
    }
  }
}

@media (min-width: $layout-breakpoint-md) {
  .opencartmodal-wrapper {
    box-sizing: border-box;
    // width: 140px;
  }
  
  .opencartmodal {
    @include flex-center-y;
    float: right;
    height: 100%;
    background: none;
    border: none;
  
    &:hover .cartitemcount{
      transform: translateY(-5px);
      transition: 0.2s;
    }
  
    &:hover .cart-subtotal {
      color: $text-green-light;
    }
  
    .cart-subtotal {
      display: none;
    }
  
    .cart-img-container {
      @include flex-center;
      margin-left: 5px;
      padding: 10px 0px;
  
      img {
        width: 30px;
        height: 30px;
      }
  
      .cartitemcount {
        @include flex-center;
        @include font-size(10px, $font-weight-regular, $text-white);
        line-height: 0px;
        position: relative;
        top: 6px;
        right: 9px;
        width: 18px;
        height: 18px;
        background: $grey;
        border-radius: 100px;
        transition: 0.2s;
      }
    }
  }
}