@media (min-width: $layout-breakpoint-xs) {
  .categories {
    @include flex-center-x;
    flex-wrap: wrap;
    gap: 32px;
    padding: 50px 25px 50px;
    background: $grey-lightest;
  }
}

@media (min-width: $layout-breakpoint-rg) {
  .categories {
    @include flex-center-x;
    flex-wrap: wrap;
    gap: 32px;
    padding: 100px 25px 120px;
    background: $grey-lightest;
  }
}