@media (min-width: $layout-breakpoint-xs) {

}

@media (min-width: $layout-breakpoint-rg) {
    
}

@media (min-width: $layout-breakpoint-md) {
  .adminpaneldateinput {
    @include flex-column;
    gap: 4px;
    width: 100%;

    .adminpaneldateinput-label {
      @include font-size($font-size-sm, $font-weight-regular, $text-dark-black);
    }

    .input-container {
      box-sizing: border-box;
      height: 35px;
      display: flex;
      border: 1px solid $border-grey;
      border-radius: 4px;

      .input-field {
        padding: 0 12px;
        width: 100%;
        background: none;
        border: none;
      }
    }
  }
}