@media (min-width: $layout-breakpoint-xs) {
  .productlist {

    .productlist-table {

    }
  }
}

@media (min-width: $layout-breakpoint-rg) {
  .productlist {
    
    .productlist-table {

    }
  }
}

@media (min-width: $layout-breakpoint-md) {
  .productlist {
    width: 100%;
    padding: 20px;
    background: $white;
    border: 1px solid $border-grey;
    border-radius: 10px;

    .productlist-table {
      border-spacing: 0px;

      .table-header {

        .table-header-tr {

          .th-id {
            width: 60px;
          }
          .th-image {
            width: 90px;
          }
          .th-productname {
            width: 250px;
          }
          .th-price {
            width: 150px;
          }
          .th-category {
            width: 200px;
          }
          .th-status {
            width: 130px;
          }
          .th-remove {
            width: 30px;
          }

          .table-header-th {
            padding-bottom: 20px;
            border-bottom: 1px solid $border-grey;
            
            .th-content {
              @include flex-column;
              align-items: flex-start;
  
              .th-text {
                @include font-size($font-size-sm, $font-weight-bold, $text-dark);
              }
  
              .th-input {
                @include font-size($font-size-sm, $font-weight-regular, $text-dark);
                box-sizing: border-box;
                margin-top: 6px;
                padding: 2px 10px;
                height: 34px;
                border: 1px solid $border-grey;
                border-radius: 5px;

                &::placeholder {
                  @include font-size($font-size-sm, $font-weight-regular, $text-grey-dark);
                }
              }
  
              .th-input-group {
                display: flex;
                gap: 8px;
              }
  
              .input-product-name {
                width: 150px;
              }
              .input-price {
                width: 60px;
              }

              .th-select {
                @include font-size($font-size-sm, $font-weight-semibold, $text-grey-dark);
                box-sizing: border-box;
                margin-top: 6px;
                padding: 2px 12px;
                height: 34px;
                border: 1px solid $border-grey;
                border-radius: 5px;
                outline: none;
                width: 112px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .productlist-pagination {
      @include flex-center-y;
      justify-content: space-between;
      margin-top: 30px;

      .pagination-results-per-page {
        @include font-size($font-size-sm, $font-weight-medium, $text-dark-black);

        .select-per-page {
          @include font-size($font-size-sm, $font-weight-medium, $text-dark);
          box-sizing: border-box;
          padding: 2px 2px;
          height: 34px;
          border: 1px solid $border-grey;
          border-radius: 5px;
          outline: none;
          width: 50px;
          margin-left: 10px;
          margin-right: 10px;
          cursor: pointer;
        }
      }
    }
  }
}