@media (min-width: $layout-breakpoint-xs) {
    .promolistcard {
      
    }
  }
  
  @media (min-width: $layout-breakpoint-rg) {
    .promolistcard {
      
    }
  }
  
  @media (min-width: $layout-breakpoint-md) {
    .promolistcard {
  
      td {
        height: 40px;
        padding: 10px 0px;
        border-bottom: 1px solid $border-grey;
      }
  
      .td-id {
        @include font-size($font-size-sm, $font-weight-medium, $text-grey-light);
      }
  
      .td-promocode {
        @include font-size($font-size-sm, $font-weight-medium, $text-dark);
  
        .td-promocode-text {
          cursor: pointer;
          width: auto;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
  
      .td-discount {
        @include font-size($font-size-sm, $font-weight-regular, $text-dark);
      }
  
      .td-expiration {
        @include font-size($font-size-sm, $font-weight-light, $text-dark);
      }
  
      .td-edit {
  
        .delete-product-btn {
          @include flex-center;
          @include font-size($font-size-sm, $font-weight-regular, $text-grey);
          background: none;
          padding: 5px;
          border: none;
  
          &:hover {
            @include font-size($font-size-sm, $font-weight-regular, $text-dark);
          }
        }
      }
    }
  }