@media (min-width: $layout-breakpoint-xs) {
  .salestatistic {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background: $white;
    border: 1px solid $border-grey;
    border-radius: 10px;

    .salestatistic-header {
      @include flex-center-y;
      justify-content: space-between;

      .salestatistic-header-text {
        @include font-size($font-size-sm, $font-weight-medium, $text-green-dark);
      }

      .salestatistic-header-buttons {
        display: flex;
        gap: 7px;

        .range-btn {
          @include font-size($font-size-xs, $font-weight-light, $text-green);
          background: none;
          border: none;
          padding: 0px;

          &:hover {
            text-decoration: underline;
          }
          
        }
      }
    }
  }
}

@media (min-width: $layout-breakpoint-rg) {
  .salestatistic {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background: $white;
    border: 1px solid $border-grey;
    border-radius: 10px;

    .salestatistic-header {
      @include flex-center-y;
      justify-content: space-between;

      .salestatistic-header-text {
        @include font-size(17px, $font-weight-regular, $text-green-dark);
      }

      .salestatistic-header-buttons {
        display: flex;
        gap: 10px;

        .range-btn {
          @include font-size($font-size-sm, $font-weight-light, $text-green);
          background: none;
          border: none;
          padding: 0px;

          &:hover {
            text-decoration: underline;
          }
          
        }
      }
    }
  }
}

@media (min-width: $layout-breakpoint-md) {
  .salestatistic {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background: $white;
    border: 1px solid $border-grey;
    border-radius: 10px;

    .salestatistic-header {
      @include flex-center-y;
      justify-content: space-between;

      .salestatistic-header-text {
        @include font-size(17px, $font-weight-regular, $text-green-dark);
      }

      .salestatistic-header-buttons {
        display: flex;
        gap: 10px;

        .range-btn {
          @include font-size($font-size-sm, $font-weight-light, $text-green);
          background: none;
          border: none;
          padding: 0px;

          &:hover {
            text-decoration: underline;
          }
          
        }
      }
    }
  }
}