@media (min-width: $layout-breakpoint-xs) {
  .productcardloader {
    @include flex-column-center-x;
    width: 160px;
    background: $white;

    .loader-image {
      width: 100%;
      height: 160px;
    }

    .loader-main-info-item {
      margin-top: 10px;
      width: 100%;
      height: 20px;
    }

    .loader-button {
      margin-top: 10px;
      width: 70%;
      height: 30px;
    }
  }
}

@media (min-width: $layout-breakpoint-rg) {
  .productcardloader {
    @include flex-column-center-x;
    width: 225px;
    background: $white;

    .loader-image {
      width: 100%;
      height: 230px;
    }

    .loader-main-info-item {
      margin-top: 10px;
      width: 100%;
      height: 40px;
    }

    .loader-button {
      margin-top: 10px;
      width: 70%;
      height: 40px;
    }
  }
}

@media (min-width: $layout-breakpoint-lg) {
  .productcardloader {
    @include flex-column-center-x;
    width: 20vw;
    max-width: 275px;
    background: $white;

    .loader-image {
      width: 100%;
      height: 230px;
    }

    .loader-main-info-item {
      margin-top: 10px;
      width: 100%;
      height: 40px;
    }

    .loader-button {
      margin-top: 10px;
      width: 70%;
      height: 40px;
    }
  }
}